html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.header__nav {
    width: 50%;
    margin: auto;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__list-item {
    font-size: larger;
    font-weight: 600;
}

.header__list-item a {
    color: rgb(85, 106, 212);
    text-decoration: none;
    transition: color 0.5s ease;
}

.header__list-item a:hover {
    color: black;
    text-decoration: underline;
}

.header__list-item:nth-child(4) {
    background-color: rgb(85, 106, 212);
    padding: 10px 20px;
    border-radius: 20px;
}

.header__list-item:nth-child(4) a {
    color: white;
}

.main {
    margin-top: 10vh;
}

.main__section {
    height: 90vh;
    scroll-margin-top: 10vh;
}

.main__section--home {
    background-color: rgb(231, 234, 254);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main__section--home img {
    height: 450px;
}

.main__section--home h2 {
    font-size: 80px;
    font-weight: 600;
}

.main__section--about-me {
    background-color: rgb(238, 241, 255);
}

.footer {
    background-color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__contact-title {
    color: rgb(85, 106, 212);
    font-size: larger;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer__contact-item img {
    height: 50px;
}

.footer__copyright {
    font-size: 14px;
    color: gray;
}

@media (max-width: 768px) {
    .header__nav {
        width: 80%;
    }

    .main__section--home {
        flex-direction: column;
        gap: 50px;
    }

    .main__section--home img {
        height: 330px;
    }

    .main__section—home h2 {
        font-size: 65px;
    }
}
