html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.header__nav {
    width: 50%;
    margin: auto;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu-item {
    font-size: larger;
    font-weight: 600;
}

.header__menu-item a {
    color: rgb(85, 106, 212);
    text-decoration: none;
    transition: color 0.5s ease;
}

.header__menu-item a:hover {
    color: black;
    text-decoration: underline;
}

.section {
    height: 100vh;
}

#home {
    background-color: rgb(231, 234, 254);
}

#about {
    background-color: rgb(238, 241, 255);
}

#footer {
    background-color: white;
}
